
<li class="list-group-item my-2">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title py-2">{{title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{content}}</h6>
            <p class="card-text">{{format_date createdAt}}</p>
        </div>
    </div>
</li>
        
