<div class="jumbotron">
  <h1 class="display-4">Tech Talk</h1>
  <p class="lead">Create a blog post about any experience you've had with the latest technology.</p>
  <hr class="my-4">
  <p>Communication is education</p>
  <a class="btn btn-primary btn-lg" href="/users/new" role="button">Get started</a>
</div>

{{#each blogs as |blog|}}
{{> list-partials}}
{{/each}}




