<div class="stretch">
    <form>
        <div class="form-group">
            <label for="new-email-input">Email address</label>
            <input type="email" id="new-email-input" class="form-control" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="new-username-input">Username</label>
            <input type="text" id="new-username-input" class="form-control">
        </div>
        <div class="form-group">
            <label class="" for="new-password-input">Password</label>

            <input type="text" id="new-password-input" class="form-control">
        </div>
        <button type="submit" id="signup-btn" class="btn btn-primary">Submit</button>
        <a href="/users/login"><small class="text-muted">Already have an account?</small></a>
    </form>
</div>   



<script src="/assets/js/login.js"></script>